<template>
  <v-container fluid>
    <v-layout align-start justify-space-around row fill-height>
      <v-flex md2 xs12 hidden-sm-and-down>
        <v-card>
          <v-card-text>
            <v-menu>
              <v-text-field
                slot="activator"
                :value="filter.dateFrom"
                label="Date from"
                prepend-icon="date_range"
                :disabled="!disableFilter"
              ></v-text-field>
              <v-date-picker v-model="filter.dateFrom" :disabled="!disableFilter"></v-date-picker>
            </v-menu>
            <v-menu>
              <v-text-field
                slot="activator"
                :value="filter.dateTo"
                label="Date to"
                prepend-icon="date_range"
                :disabled="!disableFilter"
              ></v-text-field>
              <v-date-picker v-model="filter.dateTo" :disabled="!disableFilter"></v-date-picker>
            </v-menu>

            <v-card-actions class="justify-center">
              <v-switch
                v-model="disableFilter"
                @change="enableFilterFunction"
                color="indigo"
                input-value="true"
                hide-details
              ></v-switch>

              <v-btn
                v-on:click="filterFuction"
                color="warning"
                dark
                :disabled="!disableFilter"
              >Search</v-btn>
            </v-card-actions>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex md5 xs12>
        <v-layout v-if="sortedRecords!==null" row v-for="item in sortedRecords">
          <v-layout align-center justify-center lighten-3 border myborder>
            <v-flex xs1>
              <v-layout column>
                <v-flex rotate font-weight-light>
                  <span>{{item.date}}</span>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <v-flex xs11>
            <v-layout column>
              <v-container fluid grid-list-lg>
                <v-card
                  id="itemCard"
                  row
                  fill-height
                  v-for="itemRecord in item.records"
                  v-bind:key="itemRecord.id"
                  v-bind:class="{
    'inItemRecord': itemRecord.itemType === 'IN',
   
}"
                >
                  <v-card-text>
                    <v-layout row>
                      <v-flex xs5>
                        <v-card tile flat>
                          <v-card-text
                            id="itemCardPrice"
                            v-bind:class="{
    'inItemRecord': itemRecord.itemType === 'IN'}"
                          >
                            <div>
                              <div class="headline">{{itemRecord.value}} Р</div>
                              <span class="grey--text">{{itemRecord.category.name}}</span>
                            </div>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                      <v-flex xs5>
                        <v-card tile flat>
                          <v-card-text
                            id="itemCardComments"
                            v-bind:class="{
    'inItemRecord': itemRecord.itemType === 'IN'}"
                          >
                            <div>
                              <span class="grey--text">{{cutComments(itemRecord)}}</span>
                            </div>
                          </v-card-text>
                        </v-card>
                      </v-flex>

                      <v-flex xs2>
                        <v-card tile flat>
                          <v-card-text
                            id="itemCardButtons"
                            v-bind:class="{
    'inItemRecord': itemRecord.itemType === 'IN'}"
                          >
                            <v-icon
                              style="font-size: 1.3em;"
                              v-on:click="showUpdateRecord(itemRecord)"
                            >edit</v-icon>
                            <v-icon
                              v-on:click="deleteRecord(itemRecord)"
                              style="font-size: 1.3em;"
                            >delete</v-icon>
                            <v-icon style="font-size: 1.3em;">comment</v-icon>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-container>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex style="background-color: #16A085" md2 xs12 hidden-sm-and-down>
        <v-card>
          <v-card-text>
            <v-flex>
              <v-layout row v-for="cat in categories">
                <v-flex xs8 v-if="getSumByCategory(cat)!==0">
                  <v-card tile flat>
                    <v-card-text>{{cat.name + " " + getSumByCategory(cat)}}</v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs4>
                  <v-card tile flat>
                    <v-card-text
                      class="text-lg-right"
                      v-if="!cat.isDefault && getSumByCategory(cat)!==0"
                    >
                      <v-icon v-on:click="updateCategory(cat)" style="font-size: 1.3em;">edit</v-icon>
                      <v-icon v-on:click="deleteCategory(cat)" style="font-size: 1.3em;">delete</v-icon>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
              <v-divider></v-divider>
              <div>
                <div class="headline">Total: {{getTotalSum()}}</div>
              </div>
              <v-layout row>
                <v-flex class="text-lg-right">
                  <category-create-popup />
                </v-flex>
              </v-layout>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <notification-delete-record
      :dialog="showNotificationDeleteRecord"
      :record="selectedRecord"
      @close="showNotificationDeleteRecord=false"
    ></notification-delete-record>
    <notification-delete-category
      :dialog="showNotificationDeleteCategory"
      :category="selectedCategory"
      @close="showNotificationDeleteCategory=false"
    ></notification-delete-category>
    <update-record-popup
      :dialog="showUpdateRecordPopup"
      :record="selectedRecord"
      @close="showUpdateRecordPopup=false"
    ></update-record-popup>
    <update-category-popup
      :dialog="showUpdateCategoryPopup"
      :category="selectedCategory"
      @close="showUpdateCategoryPopup=false"
    ></update-category-popup>
  </v-container>
</template>

<script>
import Vue from "vue";
import Popup from "./forms/CreateRecordPopup";
import CategoryCreatePopup from "./forms/CategoryCreatePopup";
import NotificationDeleteRecord from "./forms/NotificationDeleteRecord";
import NotificationDeleteCategory from "./forms/NotificationDeleteCategory";
import UpdateRecordPopup from "./forms/UpdateRecordPopup";
import UpdateCategoryPopup from "./forms/UpdateCategoryPopup";

const moment = require("moment");
import { mapGetters} from "vuex";
import {RECORDS_LOAD, CATEGORIES_LOAD} from "../store/actions.type";

moment.locale("ru");
export default {
  name: "RecordsTable",
  components: {
    Popup,
    CategoryCreatePopup,
    NotificationDeleteRecord,
    NotificationDeleteCategory,
    UpdateRecordPopup,
    UpdateCategoryPopup
  },
  data() {
    return {
      record: { id: "", date: "", category: "", value: "", comments: "" },
      showUpdate: false,
      showModal: "",
      showCreateForm: false,
      selectedRecord: null,
      filter: {
        dateFrom: "",
        dateTo: ""
      },
      selectedCategory: null,
      moment: moment,
      show: false,
      showNotificationDeleteRecord: false,
      showNotificationDeleteCategory: false,
      showUpdateRecordPopup: false,
      disableFilter: false,
      showUpdateCategoryPopup: false,
      incomeRecords: [],
      outcomeRecords: []
    };
  },
  computed: {
    ...mapGetters(["records","categories"]),


    sortedRecords: function() {
      if (this.records != null) {
        let recordsArray = this.records.slice(0);

        function compare(a, b) {
          if (a.date > b.date) {
            return -1;
          }
          if (a.date < b.date) {
            return 1;
          }
          return 0;
        }

        let sortedRecords = recordsArray.sort(compare);
        let previousDate;
        if (sortedRecords[0] !== undefined) {
          previousDate = sortedRecords[0].date;
        }

        let recordsForDate = [];
        let dateArray = [];
        let dateObject = {};
        sortedRecords.forEach(item => {
          if (item.date === previousDate) {
            recordsForDate.push(item);
          } else {
            dateObject.date = moment(previousDate).format("dd, DD MMM ");
            dateObject.records = recordsForDate;
            // dateObject[previousDate] = recordsForDate;
            dateArray.push(dateObject);
            dateObject = {};
            recordsForDate = [];
            previousDate = item.date;
            recordsForDate.push(item);
          }
          // recordsForDate.push({item.category, item.value, item.comments}};
        });
        dateObject.date = moment(previousDate).format("dd, DD MMM ");
        dateObject.records = recordsForDate;
        // dateObject[previousDate] = recordsForDate;
        dateArray.push(dateObject);

        if (dateArray[0].records.length == 0) {
          return null;
        }
        return dateArray;
      } else {
        return this.records;
      }
    },
    dateFrom: function() {
      if (this.filter.dateFrom != "") {
        return moment(this.filter.dateFrom).format("YYYY-MM-DD");
      }
    },
    dateTo: function() {
      if (this.filter.dateTo != "") {
        return moment(this.filter.dateTo).format("YYYY-MM-DD");
      }
    }
  },
  created() {},

  filters: {
    formatPassportValue: function(value) {
      return "#" + value;
    }
  },
  mounted() {
    this.getAll();
  },
  methods: {
    getAll() {
      this.$store.dispatch(RECORDS_LOAD);
      this.$store.dispatch(CATEGORIES_LOAD);
    },
    deleteRecord(record) {
      this.showNotificationDeleteRecord = true;
      this.selectedRecord = record;
      // this.getAll();
    },

    deleteCategory(category) {
      this.showNotificationDeleteCategory = true;
      this.selectedCategory = category;
    },
    updateCategory(category) {
      this.showUpdateCategoryPopup = true;
      this.selectedCategory = category;
    },
    showUpdateRecord(record) {
      this.showUpdateRecordPopup = true;
      this.selectedRecord = record;
    },

    getSumByCategory(category) {
      setTimeout(1000);
      let catSum = 0;
      if (this.records != null) {
        this.records.forEach(function(record) {
          if (record.category.id == category.id) {
            catSum += record.value;
          }
        });
        return catSum;
      }
    },
    getTotalSum() {
      setTimeout(1000);
      let totalSum = 0;
      let incomeSum = 0;
      let outcomeSum = 0;
      if (this.records != null) {
        this.records.forEach(function(record) {
          if (record.itemType === "IN") {
            incomeSum += record.value;
          } else {
            outcomeSum += record.value;
          }
        });
        totalSum = incomeSum - outcomeSum;
        return totalSum;
      }
    },
    filterFuction() {
      if (this.filter.dateFrom !== "" || this.filter.dateTo !== "") {
        this.$store.dispatch(RECORDS_LOAD, {
          dateFrom: this.filter.dateFrom,
          dateTo: this.filter.dateTo
        });
      } else {
        this.getAll();
      }
    },
    enableFilterFunction() {
      if (
        this.disableFilter === false &&
        this.filter.dateFrom !== "" &&
        this.filter.dateTo !== ""
      ) {
        this.filter.dateFrom = "";
        this.filter.dateTo = "";
        this.filterFuction();
      }
    },
    cutComments(itemRecord) {
      if (itemRecord.comments != null && itemRecord.comments.length > 55) {
        return (itemRecord = itemRecord.comments.substring(0, 55) + "...");
      } else {
        return itemRecord.comments;
      }
    }
  }
};
</script>
<style>
.rotate {
  transform: rotate(-90deg);
}

.mycolumn {
  width: 10%;
}

.myborder {
  border-radius: 50px;
}

#itemCardPrice.inItemRecord,
#itemCard.inItemRecord,
#itemCardButtons.inItemRecord,
#itemCardComments.inItemRecord {
  background: rgb(183, 231, 183);
}
</style>
