<template>
    <div class="small">
        <v-flex xs12 sm6 d-flex>
            <v-select
                    :items="categories"
                    name="name"
                    item-text="name"
                    label="Select category"
                    v-model="selectedCategory"
                    outlined
            ></v-select>
            <v-btn fab flat @click="search"><v-icon>search</v-icon></v-btn>
        </v-flex>
        <line-chart v-if="datacollection" :chart-data="datacollection"></line-chart>
    </div>
</template>

<script>
    import LineChart from './LineChart.js'
    import {mapGetters, mapState} from 'vuex';
    import {STATISTIC_LOAD} from "../store/actions.type";


    export default {
        components: {
            LineChart
        },
        data () {
            return {
                datacollection: null,
                selectedCategory:"Продукты"
            }
        },
        mounted () {
            this.fillData();

        },
        created() {
            this.search();
        },
        computed:{
            ...mapGetters(['statistic','categories'])

        },
        methods: {
            fillData () {
                this.datacollection = {
                    labels: this.statistic.reverse().map(function (record) {
                        return record.date
                    }),
                    datasets: [
                        {
                            label: this.selectedCategory,
                            backgroundColor: '#5fb4f8',
                            data: this.statistic.map(function(record) {
                                return record.statistic[0].value;
                            })
                        }
                        // {
                        //     label: 'Data One',
                        //     backgroundColor: '#f87979',
                        //     data: [this.getRandomInt(), this.getRandomInt()]
                        // }
                    ]
                }
            },
            search() {
                this.$store.dispatch(STATISTIC_LOAD,{"category":this.selectedCategory})
                    .then(() => {
                        this.fillData();
                    });

            }
        }
    }
</script>

<style>
    .small {
        max-width: 600px;
        margin:  150px auto;
    }
</style>
