<template>
    <v-app>
        <v-navigation-drawer v-if="isAuthenticated" app v-model="showMenu">
            <v-list class="pa-0">
                <v-list-tile class="mt-2 mb-2" avatar v-if="currentUser">
                    <v-avatar class="mr-2">
                        <img :src="getImage()"/>
                    </v-avatar>
                    {{currentUser.firstName+" "+currentUser.lastName+" ("+currentUser.username+")"}}
                </v-list-tile>
            </v-list>

            <v-list>
                <v-list-tile v-for="item in items" :key="item.title" router :to="item.link">
                    <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar app>
            <v-toolbar-side-icon v-if="isAuthenticated" @click="showMenu=!showMenu"></v-toolbar-side-icon>
            <v-toolbar-title hidden-sm-and-down>
                <img style="width: 100px;" src="./css/logo.png"/>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <create-record-popup v-if="isAuthenticated" :itemTypeProp="IN"/>
            <create-record-popup v-if="isAuthenticated" :itemTypeProp="OUT"/>
            <v-btn color="primary" flat v-if="isAuthenticated" v-on:click="logout()">
                <v-icon>logout</v-icon>
            </v-btn>
            <v-btn flat v-on:click="changeLocale()">
                <v-icon>language</v-icon>
                {{lang}}
            </v-btn>
        </v-toolbar>
        <v-content>
            <!--Page content-->
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import CreateRecordPopup from "./components/forms/CreateRecordPopup";
    import {mapGetters} from "vuex";
    import {LOGOUT} from "./store/actions.type";

    export default {
        name: "app",
        components: {
            CreateRecordPopup
        },
        data() {
            return {
                showMenu: false,
                showCreateForm: false,
                items: [
                    {title: "Главная", icon: "dashboard", link: "/"},
                    {title: "Статистика", icon: "gavel", link: "/statistic"}
                ],
                IN: "IN",
                OUT: "OUT",
                lang: "ru"
            };
        },
        methods: {
            getImage() {
                return "data:image/png;base64," + this.currentUser.image;
            },
            logout() {
                this.$store.dispatch(LOGOUT).then(() => {
                    this.$router.push("/login");
                })
            },
            changeLocale() {
                if (this.lang === "en") {
                    this.lang = "ru";
                    this.$i18n.locale = "en";
                } else {
                    this.lang = "en";
                    this.$i18n.locale = "ru";
                }
            }
        },
        computed: {
            ...mapGetters(["currentUser", "isAuthenticated"])

        }
    };
</script>
<!--<style src="./css/sidebar.css"></style>-->

