<template>
  <v-card>
    <v-card-title>
      <span class="title font-weight-light">{{$t('labels.signInTitle')}}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-alert :value="showAlert" color="error" icon="warning" outline>{{alertMessage}}</v-alert>
        <v-text-field id="tf" v-model="username" :counter="10" :rules="nameRules"  v-bind:label="$t('labels.username')" required/>


        <v-text-field
          v-model="password"
          :append-icon="show1 ? 'visibility' : 'visibility_off'"
          :rules="[rules.required, rules.min]"
          :type="show1 ? 'text' : 'password'"
          name="input-10-1"
          v-bind:label="$t('labels.password')"
          hint="At least 8 characters"
          counter
          @click:append="show1 = !show1"
        ></v-text-field>
        <v-btn :disabled="!valid" color="success" @click="login(username, password)">{{$t('labels.signIn')}}</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import {LOGIN} from "@/store/actions.type.js";
export default {
  data: () => ({
    valid: true,
    username: "",
    nameRules: [
      v => !!v || "Field is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ],

    rules: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters",
      emailMatch: () => "The email and password you entered don't match"
    },
    show1: false,
    password: "",
    showAlert: false,
    alertMessage: "",


  }),
  methods: {
    login(username, password) {
      if (this.$refs.form.validate()) {
        this.$store
          .dispatch(LOGIN, { username, password })
          .then(response => {
            this.$router.push({ name: "home" });
          })
          .catch(errors => {
            this.showAlert = true;
            console.log(errors);
            if (errors.response!=='undefined' && errors.response.status === 403) {
              this.alertMessage = "Invalid login/password";
            } else {
                this.alertMessage = errors.message;
            }
          });
      }
    }
  }
};
</script>