<template>
    <v-layout row justify-center>
        <v-tabs
                v-model="active"
                color="cyan"
                dark
                slider-color="yellow"
        >
            <v-tab ripple>
                {{$t('labels.signInTitle')}}
            </v-tab>
            <v-tab ripple>
                {{$t('labels.registerTitle')}}
            </v-tab>
            <v-tab-item>
                <login-form></login-form>
            </v-tab-item>
            <v-tab-item>
                <register-form @changeTab=changeTab></register-form>
            </v-tab-item>
        </v-tabs>
    </v-layout>
</template>

<script>
    import RegisterForm from './RegisterForm';
    import LoginForm from './LoginForm';
    export default {
        name: "Login",
        data: () => ({
            active: ""


        })
        ,
        components:{
            RegisterForm,
            LoginForm
        },
        methods:{
            changeTab() {
                this.active=0;
            }
        }
    }
</script>

<style scoped>

</style>