<template>
  <v-card>
    <v-card-title>
      <span class="title font-weight-light">{{$t('labels.registerTitle')}}</span>
    </v-card-title>
    <v-card-text>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-alert :value="showAlert" color="error" icon="warning" outline>{{alertMessage}}</v-alert>
        <v-text-field
          v-model="firstName"
          :counter="10"
          :rules="nameRules"
          v-bind:label="$t('labels.firstName')"
          required
        ></v-text-field>
        <v-text-field
          v-model="lastName"
          :counter="10"
          :rules="nameRules"
          v-bind:label="$t('labels.lastName')"
          required
        ></v-text-field>

        <v-text-field v-model="email" :rules="emailRules" v-bind:label="$t('labels.email')" required></v-text-field>

        <v-text-field v-model="username" :counter="10" :rules="nameRules" v-bind:label="$t('labels.username')" required></v-text-field>

        <v-text-field
          v-model="password"
          :append-icon="show1 ? 'visibility' : 'visibility_off'"
          :rules="passwordRules"
          :type="show1 ? 'text' : 'password'"
          name="input-10-1"
          v-bind:label="$t('labels.password')"
          hint="At least 8 characters"
          counter
          @click:append="show1 = !show1"
        ></v-text-field>
        <input type="file" @change="onFileSelected" />

        <v-btn :disabled="!valid" color="success" @click="validate">{{$t('labels.registerButton')}}</v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import axios from "axios";

import { REGISTER } from "@/store/actions.type.js";
export default {
  data: () => ({
    valid: true,
    username: "",
    firstName: "",
    lastName: "",
    showAlert: false,
    alertMessage: "",
    nameRules: [
      v => !!v || "Field is required",
      v => (v && v.length <= 10) || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v =>
        /(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])/.test(
          v
        ) || "E-mail must be valid"
    ],
    passwordRules: [
      v => !!v || "Password is required",
      v =>
        /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/.test(v) ||
        "Minimum eight characters, at least one letter and one number"
    ],
    rules: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters",
      emailMatch: () => "The email and password you entered don't match"
    },
    show1: false,
    password: "",
    selectedFile: null
  }),

  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        const fd = new FormData();
        fd.append("image", this.selectedFile, this.selectedFile.name);
        fd.append("firstName", this.firstName);
        fd.append("lastName", this.lastName);
        fd.append("email", this.email);
        fd.append("password", this.password);
        fd.append("username", this.username);

        let context = this;
        this.$store
          .dispatch(REGISTER, fd)
          .then(response => {
            this.$emit("changeTab");
          })
          .catch(function(error) {
            context.showAlert = true;
            context.alertMessage = error.response.data;
          });
      }
    },
    onFileSelected(event) {
      console.log(event);
      this.selectedFile = event.target.files[0];
    }
  }
};
</script>
