<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" persistent max-width="290">
            <template v-slot:activator="{ on }">
                <v-btn v-on="on" fab dark color="indigo">
                    <v-icon dark>add</v-icon>
                </v-btn>
            </template>

            <v-card>
                <v-card-title class="headline">Create new category</v-card-title>
                <v-card-text>
                    <form>


                        <v-text-field v-model="category.name"
                                      :counter="10"
                                      label="Название категории"
                                      required
                        ></v-text-field>
                        Income
                        <v-switch
                                v-model="isIncomeCategory"

                                color="indigo"
                                input-value="true"


                        ></v-switch>


                    </form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat v-on:click="createRecord">Create</v-btn>
                    <v-btn color="green darken-1" flat @click="dialog = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import {CATEGORIES_LOAD, CATEGORY_CREATE} from "../../store/actions.type";

    export default {

        props: ["showPopup"],
        data() {
            return {
                category: {name: ""},
                dialog: false,
                isIncomeCategory: false
            };
        },
        methods: {
            createRecord() {
                let itemTypeValue;
                if (this.isIncomeCategory) {
                    itemTypeValue = "IN"
                } else {
                    itemTypeValue = "OUT"
                }
                this.$store.dispatch(CATEGORY_CREATE,
                    {
                        name: this.category.name,
                        itemType: itemTypeValue
                    }).then(() => {
                    this.dialog = false
                });

            }
        }
    }
</script>

<style scoped>

</style>