<template>
  <v-layout row justify-center flex>
    <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" color="primary">{{itemTypePropLocal}}</v-btn>
      </template>

      <v-card>
        <v-card-title class="headline">{{title}}</v-card-title>

        <v-card-text>
          <form>
            <v-menu>
              <v-text-field
                slot="activator"
                :value="record.date"
                label="Due date"
                prepend-icon="date_range"
              ></v-text-field>
              <v-date-picker v-model="record.date"></v-date-picker>
            </v-menu>
            <v-select
              :items="categoriesList"
              name="category"
              label="Select a category"
              v-model="category.id"
              item-text="name"
              item-value="id"
            ></v-select>

            <v-text-field v-model="record.value" :counter="10" label="Цена" required></v-text-field>
            <v-textarea v-model="record.comments" label="Комментарии"></v-textarea>
          </form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat v-on:click="createRecord">Create</v-btn>
          <v-btn color="green darken-1" flat @click="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapGetters } from "vuex";
import {RECORD_CREATE} from "../../store/actions.type";

export default {
  props: ["itemTypeProp"],
  data() {
    return {
      record: { id: "", date: "", category: "", value: "", comments: "" },
      category: { id: "", name: "" },
      dialog: false
    };
  },
  computed: {
    ...mapGetters(["categories"]),
    itemTypePropLocal: {
      get: function() {
        return this.itemTypeProp;
      }
    },
    title: {
      get: function() {
        if (this.itemTypePropLocal === "IN") {
          return "Create income record";
        } else {
          return "Create outcome record";
        }
      }
    },
    categoriesList: {
      get: function() {
        let _listCategories = new Array();
        if (this.categories){
          if (this.itemTypePropLocal === "IN") {
            this.categories.forEach(category => {
              if (category.itemType === "IN") {
                _listCategories.push(category);
              }
            });
          } else {
            this.categories.forEach(category => {
              if (category.itemType === "OUT") {
                _listCategories.push(category);
              }
            });
          }
        }

        return _listCategories;
      }
    }
  },
  mounted() {},

  methods: {
    createRecord() {
      this.$store
        .dispatch(RECORD_CREATE, {
          date: this.record.date,
          value: this.record.value,
          comments: this.record.comments,
          category: {
            id: this.category.id
          },
          itemType: this.itemTypePropLocal
        })
        .then(() => {
          this.dialog = false;
        });

    }
  }
};
</script>

<style scoped>
</style>