<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialogLocal" persistent max-width="290">
            <v-card v-if="record">
                <v-card-title class="headline">Notificaiton</v-card-title>
                <v-card-text>
                    Вы уверены, что хотите удалить запись: {{record.date}}  с категорией {{record.category.name}}  и ценой {{record.value}} Р;
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error darken-1" flat @click="confirm">Confirm</v-btn>
                    <v-btn color="green darken-1" flat @click="dialogLocal = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import {RECORD_DELETE} from "../../store/actions.type";

    export default {

        components: {},
        data() {
            return {

            }
        },

        computed: {
            dialogLocal: {
                get: function () {
                    return this.dialog
                },
                set: function (value) {
                    this.$emit('close', value)
                }
            }
        },
        props: {dialog:Boolean,
            record:Object}
        ,

        methods: {
            confirm() {
                this.$store.dispatch(RECORD_DELETE, this.record.id)
                    .then(()=>{
                        this.$emit('close', false);
                    });
            }
        }
    }
</script>

<style>

</style>