<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialogLocal"  persistent max-width="290">

            <v-card v-if="record">
                <v-card-title class="headline">Update record</v-card-title>
                <v-card-text>
                    <form>
                        <v-menu>
                            <v-text-field slot="activator" :value="record.date" label="Due date" prepend-icon="date_range"></v-text-field>
                            <v-date-picker v-model="record.date"></v-date-picker>
                        </v-menu>
                        <v-select
                                :items="categories"
                                name="category"
                                label="Select a category"
                                v-model="record.category.id"
                                item-text="name" item-value="id"
                        ></v-select>

                        <v-text-field v-model="record.value"
                                      :counter="10"
                                      label="Цена"
                                      required
                        ></v-text-field>
                        <v-textarea v-model="record.comments"
                                    label="Комментарии"
                        ></v-textarea>
                    </form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat v-on:click="updateRecord">Update</v-btn>
                    <v-btn color="green darken-1" flat @click="dialogLocal = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {RECORD_UPDATE} from "../../store/actions.type";

    export default {
        props:{dialog:Boolean,
        record:Object},
        computed:{
            ...mapGetters(['categories']),
            dialogLocal: {
                get: function () {
                    return this.dialog
                },
                set: function (value) {
                    this.$emit('close', value)
                }
            }
        },
        mounted(){

        },

        methods: {
            updateRecord() {
                this.$store.dispatch(RECORD_UPDATE,{

                                        record:this.record
                       
                    }).then(() => {
                    this.$emit('close');
                });


            }
        }
    }
</script>

<style scoped>

</style>
