<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialogLocal" persistent max-width="290">
            <v-card v-if="category">
                <v-card-title class="headline">Update category</v-card-title>
                <v-card-text>
                    <form>
                        <v-text-field v-model="categoryLocal.name"
                                      :counter="10"
                                      label="Название категории"
                                      required
                        ></v-text-field>

                    </form>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" flat v-on:click="updateCategory">Update</v-btn>
                    <v-btn color="green darken-1" flat @click="dialogLocal = false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import {CATEGORY_UPDATE} from "../../store/actions.type";

    export default {
        props: {
            dialog: Boolean,
            category: Object
        },
        data() {
            return {};
        },
        computed: {
            dialogLocal: {
                get: function () {
                    return this.dialog
                },
                set: function (value) {
                    this.$emit('close', value)
                }
            },
            categoryLocal: {
                get: function () {
                    if (this.category !== null) {
                        return this.category;
                    }

                },
                set: function (value) {
                    this.categoryLocal = value;
                }
            }
        },

        methods: {
            updateCategory() {
                this.$store.dispatch(CATEGORY_UPDATE, {

                    category: this.categoryLocal

                }).then(() => {
                    this.$emit('close');
                });

            }
        }
    }
</script>

<style scoped>

</style>